.panel.panel-default
  .panel-heading
    %i.fa.fa-facebook-square
    = t('facebook.join.header')
  .panel-body
    %h4= @company.name
    .fb-like{'data-href': "https://www.facebook.com/#{@company.fb.group_name}",
      'data-layout': 'standard',
      'data-show-faces': 'true',
      'data-share': 'false'}
.text-center
  %a{ href: '/' }
    = t(:cancel)
