.text-center
  %h1= @company.name
  %p= I18n.t(:welcome)
  %ul.list-inline
    - unless @company.fb.action.eql?('disabled')
      %li
        %a{ href: '/facebook', class: 'social' }
          %img{ src: 'images/facebook.png' }
    - unless @company.tw.action.eql?('disabled')
      %li
        %a{ href: '/twitter', class: 'social' }
          %img{ src: 'images/twitter.png' }
    - unless @company.vk.action.eql?('disabled')
      %li
        %a{ href: '/vkontakte', class: 'social' }
          %img{ src: 'images/vkontakte.png' }
    - unless @company.in.action.eql?('disabled')
      %li
        %a{ href: '/instagram', class: 'social' }
          %img{ src: 'images/instagram.png' }
    - unless @company.ok.action.eql?('disabled')
      %li
        %a{ href: '/odnoklassniki', class: 'social' }
          %img{ src: 'images/ok.png' }
    - if @company.sms && (@company.sms.action.eql?('auth') || @company.sms.action.eql?('ident_auth'))
      %li
        %a{ href: '/sms/authorize', class: 'social' }
          %img{ src: 'images/sms.png' }
