!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %meta{ :name => "viewport", content: "width=device-width, initial-scale=1.0" }/
    %link{ rel: "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" }/
    %title Hotspot
  %body
    .preloader
      %span.spinner
    .col-md-12
      - if flash.keys.any?
        - name = flash.keys.first
        - msg = flash[name]
        %div{ class: "alert alert-#{name == :notice ? 'success' : 'danger'}" }
          %div{ id: "flash_#{name}" }
            = msg
      = yield
